body{
    background-color:#007CC1;
}

ul{
 transition: transform .2s;
 }

ul:hover{
transform: scale(0.9);
}

.btn{
    border: 1px solid black;
}

.botonesmv{
    gap:20px
}


.camiones{
    border-style: outset;
    border-color: yellow;
}

.mv1{
    padding:0;

}

.datomv1{
    text: bold;
}
